.secret_container {
    width: 100%;
    height: 100%;
    .encode_area {
        background-color: #c7c7c750;
        padding: 20px 30px 30px 30px;
        box-sizing: border-box;
        border-radius: 10px;
        .title {
            height: 30px;
            width: 100%;
            font-weight: 500;
            font-size: 20px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin:0 0 20px 0;
            border-radius: 5px;
            background-color: #aaaaaa50;
            box-sizing: border-box;
            padding: 0 10px;
        }
        .secret_number {
            width: 40px;
            border-radius: 5px;
            height: 30px;
            outline: none;
            margin:0 20px 0 0;
            border: 1px solid #333;
            text-align: center;
        }
        .origin_string {
            height: 30px;
            width: 300px;
            border: 1px solid #333;
            border-radius: 5px;
            padding: 0 10px;
            outline: none;
        }
        .result_string {
            width: 100%;
            height: 30px;
            margin: 20px 0 0 0;
        }
    }
    .decode_area {
        background-color: #c7c7c750;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 10px;
        margin:20px 0 0 0;
        .title {
            height: 30px;
            width: 100%;
            font-weight: 500;
            font-size: 20px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin:0 0 20px 0;
            border-radius: 5px;
            background-color: #aaaaaa50;
            box-sizing: border-box;
            padding: 0 10px;
        }
        .decode_number {
            width: 40px;
            border-radius: 5px;
            height: 30px;
            outline: none;
            margin:0 20px 0 0;
            border: 1px solid #333;
            text-align: center;
        }
        .secret_string {
            height: 30px;
            width: 300px;
            border: 1px solid #333;
            border-radius: 5px;
            padding: 0 10px;
            outline: none;
        }
        .decode_result_string {
            width: 100%;
            height: 30px;
            margin: 20px 0 0 0;
        }
    }
}