.secret_container {
//   width: 100%;
  max-width: 500px;
  height: 100%;
  .encode_area {
    background-color: #c7c7c750;
    padding: 20px 30px 30px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    .title {
      height: 30px;
      width: 100%;
      font-weight: 500;
      font-size: 20px;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 20px 0;
      border-radius: 5px;
      background-color: #aaaaaa50;
      box-sizing: border-box;
      padding: 0 10px;
    }
    .top_row {
      display: flex;
      >input {
        background-color: #fff;
        color:#333;
      }
      .secret_number {
        width: 40px;
        border-radius: 5px;
        height: 30px;
        outline: none;
        margin: 0 20px 0 0;
        border: 1px solid #333;
        text-align: center;
      }
      .origin_string {
        height: 30px;
        width: calc(100% - 60px);
        border: 1px solid #333;
        border-radius: 5px;
        padding: 0 10px;
        outline: none;
      }
    }
    .bottom_row {
      display: flex;
      margin: 20px 0 0 0;
      .result_string {
        width: calc(100% - 30px);
        max-width: 400px;
        height: 30px;
        box-sizing: border-box;
        padding: 10px 10px 10px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 10px 0 0;
        text-align: start;
        line-height: 10px;
        vertical-align: middle;
        color:#333;
      }
      .copy_btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: #ccc 0px 0px 10px;
        transition: 0.3s;
        &.disable {
            opacity: 0.5;
            pointer-events: none;
        }

        .icon {
          width: 30px;
          height: 30px;
          background-image: url("./../assets/images/clipboard.svg");
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: center;
          transition: 0.3s;
          filter: invert(50%) sepia(7%) saturate(38%) hue-rotate(4deg)
            brightness(90%) contrast(84%);
            pointer-events: none;
        }
        // &:hover {
        //   background-color: #333333;
        //   box-shadow: #777 0px 0px 10px;
        //   .icon {
        //     filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(166deg)
        //       brightness(105%) contrast(101%);
        //   }
        // }
      }
    }
  }
  .decode_area {
    background-color: #c7c7c750;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 0 0 0;
    .title {
      height: 30px;
      width: 100%;
      font-weight: 500;
      font-size: 20px;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 20px 0;
      border-radius: 5px;
      background-color: #aaaaaa50;
      box-sizing: border-box;
      padding: 0 10px;
    }
    .top_row {
        display: flex;
        >input {
            background-color: #fff;
            color:#333;
          }
      .decode_number {
        width: 40px;
        border-radius: 5px;
        height: 30px;
        outline: none;
        margin: 0 20px 0 0;
        border: 1px solid #333;
        text-align: center;
      }
      .secret_string {
        height: 30px;
        width: calc(100% - 60px);
        border: 1px solid #333;
        border-radius: 5px;
        padding: 0 10px;
        outline: none;
      }
    }

    .bottom_row {
      display: flex;
      margin: 20px 0 0 0;
      .decode_result_string {
        width: calc(100% - 30px);
        max-width: 400px;
        height: 30px;
        box-sizing: border-box;
        padding: 10px 10px 10px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 10px 0 0;
        text-align: start;
        line-height: 10px;
        vertical-align: middle;
        color:#333;
      }
      .copy_btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: #ccc 0px 0px 10px;
        transition: 0.3s;
        &.disable {
            opacity: 0.5;
            pointer-events: none;
        }

        .icon {
          width: 30px;
          height: 30px;
          background-image: url("./../assets/images/clipboard.svg");
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: center;
          transition: 0.3s;
          filter: invert(50%) sepia(7%) saturate(38%) hue-rotate(4deg)
            brightness(90%) contrast(84%);
        }
        &:hover {
          background-color: #333333;
          box-shadow: #777 0px 0px 10px;
          .icon {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(166deg)
              brightness(105%) contrast(101%);
          }
        }
      }
    }
  }
}
